<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpellAdvertising.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7C6EFC51CC68D9000F45655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C6EFDC1CC68D9000F45655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C6EFE71CC68D9000F45655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
